<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" close="true">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">
        <span class="fa fa-file-word-o"></span>&nbsp;导入关键词
    </h4>
</div>
<div class="modal-body">
    <form style="padding:30px 0;">
        <input type="hidden" name="fileputh">
        <input type="hidden" name="id" value="{$id}">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <input type="file" name="keyword_up" id="keyword_up">
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-sm" _event="upload">上传</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" close="true">关闭</button>
    <button type="button" class="btn btn-primary btn-sm" _event="import">导入</button>
</div>
<script>
    $("#keyword_type").combotree({
        url:"{:URL('index/Keyword/getType')}",
        width:200,
        onChange:function(i){
            $("#keyword_display").show();
            $("#keyword_parent").combotree({
                url:"{:URL('index/Keyword/changeType')}?tag="+i,
                width:200
            });
        }
    });
    $("#keyword_parent").combotree({
        url:"{:URL('index/Keyword/changeType')}?tag=A",
        width:200
    });
</script>