<style>
    .content .panel{
        margin:0 auto;
    }
</style>
{include file="public/top" /}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/header" /}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                关键词展现
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">关键词展现</li>
            </ol>
        </section>
        {include file="public/navbar" /}
        <section class="content" style="align:right;">
            <table id="example" title="关键词展现" style="width:80%;align:center;"
                   data-options="
				iconCls: 'icon-ok',
				rownumbers: true,
				animate: true,
				collapsible: true,
				fitColumns: true,
				url: '{:URL('index/Keyword/gettree')}',
				method: 'get',
				idField: 'id',
				treeField: 'name',
				pagination: true,
				pageSize: 5,
				pageList: [5]
			">
                <thead>
                <tr>
                    <th data-options="field:'name',width:'30%'">关键字</th>
                    <th data-options="field:'tag',align:'right',width:'20%'">类型</th>
                    <th data-options="field:'create_time',align:'right',width:'48%'">创建时间</th>
                </tr>
                </thead>
            </table>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Sitegroup</b> 2.3.8
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="javascript:void(0);">Sitegroup</a>.</strong> All rights
        reserved.
    </footer>
</div>
<script>
    var baseinfo=(function(){
        var chpwdUrl="{:URL('index/index/chpwdHtml')}";
        var chpwdsubmit="{:URL('index/index/chpwd')}";

        var datatable_url="{:URL('index/Keyword/gettree')}";
        return {
            chpwdUrl:chpwdUrl,
        };
    })();

    $(function(){
        $('#example').treegrid().treegrid();
    });

</script>
{include file="public/bottom" /}
</body>
</html>
