{include file="public/top" /}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/header" /}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                关键词展现
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">关键词展现</li>
            </ol>
        </section>
        {include file="public/navbar" /}
        <section class="content">
            <table id="example" title="Client Side Pagination" style="width:700px;height:250px"
                   data-options="
				iconCls: 'icon-ok',
				rownumbers: true,
				animate: true,
				collapsible: true,
				fitColumns: true,
				url: '{:URL('index/Keyword/gettree')}',
				method: 'get',
				idField: 'id',
				treeField: 'name',
				pagination: true,
				pageSize: 2,
				pageList: [2,5,10]
			">
                <thead>
                <tr>
                    <th data-options="field:'name',width:180">Task Name</th>
                    <th data-options="field:'persons',width:60,align:'right'">Persons</th>
                    <th data-options="field:'begin',width:80">Begin Date</th>
                    <th data-options="field:'end',width:80">End Date</th>
                    <th data-options="field:'progress',width:120,formatter:formatProgress">Progress</th>
                </tr>
                </thead>
            </table>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Sitegroup</b> 2.3.8
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="javascript:void(0);">Sitegroup</a>.</strong> All rights
        reserved.
    </footer>
</div>
<script>
    var baseinfo=(function(){
        var chpwdUrl="{:URL('index/index/chpwdHtml')}";
        var chpwdsubmit="{:URL('index/index/chpwd')}";

        var datatable_url="{:URL('index/Keyword/gettree')}";
        return {
            chpwdUrl:chpwdUrl,
        };
    })();
    function formatProgress(value){
        if (value){
            var s = '<div style="width:100%;border:1px solid #ccc">' +
                    '<div style="width:' + value + '%;background:#cc0000;color:#fff">' + value + '%' + '</div>'
            '</div>';
            return s;
        } else {
            return '';
        }
    }
    $(function(){
        $('#example').treegrid().treegrid('clientPaging');

    });

</script>
{include file="public/bottom" /}
<!--<script src="/static/js/indexlogic/show.js"></script>-->
</body>
</html>
