{include file="public/top" /}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/header" /}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                用户信息
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">用户信息</li>
            </ol>
        </section>
        {include file="public/navbar" /}
        <section class="content">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <label class="form-label">&nbsp;查询:</label>
                    <input type="text" class="form-control" id="table_check" placeholder="账号/公司名">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="search_button">查询</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" id="add">添加</button>
                </div>
            </div>
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>id</th>
                    <th>账号</th>
                    <th>节点类型</th>
                    <th>公司名称</th>
                    <th>固话</th>
                    <th>电话</th>
                    <th>qq</th>
                    <th>微信</th>
                    <th>email</th>
                    <th>创建时间</th>
                    <th>编辑</th>
                </tr>
                </thead>
            </table>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Sitegroup</b> 2.3.8
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="javascript:void(0);">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
</div>
<script>
    var baseinfo=(function(){
        var chpwdUrl="{:URL('admin/index/chpwdHtml')}";
        var chpwdsubmit="{:URL('admin/index/chpwd')}";

        var datatable_url="{:URL('admin/User/getAll')}"
        var addhtml="{:URL('admin/User/addHtml')}";
        var addurl="{:URL('admin/User/add')}";
        var edithtml="{:URL('admin/User/editHtml')}";
        var editurl="{:URL('admin/User/edit')}";
        var delurl="{:URL('admin/User/del')}";

        var repwdurl="{:URL('admin/User/repwdHtml')}";
        var repwd="{:URL('admin/User/repwd')}";
        var resalt="{:URL('admin/User/resalt')}";
        return {
            chpwdUrl:chpwdUrl,
            chpwdsubmit:chpwdsubmit,
            datatable_url:datatable_url,
            addhtml:addhtml,
            addurl:addurl,
            edithtml:edithtml,
            editurl:editurl,
            delurl:delurl,
            repwdurl:repwdurl,
            repwd:repwd,
            resalt:resalt
        };
    })();
</script>
{include file="public/bottom" /}
<script src="/static/js/adminlogic/user.js"></script>
</body>
</html>
